.sidebar {
  background-color: var(--secondary-background-color);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 240px;
}

.about {
  margin: 0 0 40px;
  text-align: center;

  .cover-author-image {
    background-color: var(--dark);
    border-radius: 100%;
    height: 100px;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 100px;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .author-name {
    color: var(--dark);
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;

    &::after {
      background-color: var(--body-color);
      border-radius: 100%;
      bottom: 0;
      content: "";
      display: block;
      height: 7px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 7px;
    }
  }

  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

.content-box {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 20px 260px;
}

.contact {
  .contact-title {
    color: var(--dark);
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
      background-color: var(--body-color);
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(50% - 48px);
    }

    &::after {
      background-color: var(--body-color);
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: calc(50% - 48px);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      a {
        color: var(--body-color);
        display: block;
        font-size: 18px;
        padding: 5px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);

        &:hover {
          color: var(--dark);
          transform: scale(1.2);
        }
      }
    }
  }
}

footer {
  .copyright {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}

.post {
  align-items: stretch;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  max-width: 100%;
  min-height: 11rem;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
    transform: translate(0, -2px);
  }

  .post-thumbnail {
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    min-height: 11rem;
    width: 30%;
  }

  .post-content {
    padding: 1rem;
    width: 70%;

    .post-date,
    .post-words {
      font-size: 12px;
    }

    .post-title {
      font-size: 30px;
      font-weight: 400;
      margin: 0 0 10px;

      a {
        color: var(--dark-blue);
        font-family: 'PT Serif', serif;
        text-decoration-color: var(--link-text-decoration);

        &:hover {
          text-decoration-color: var(--link-text-decoration-hover);
        }
      }
    }

    p {
      margin-top: 0;
    }
  }
}

a.older-posts,
a.newer-posts {
  color: var(--body-color);
  display: inline-block;
  font-size: 18px;
  transition: transform 0.2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}
