.content-box {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
}

.post {
  align-items: stretch;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  max-width: 100%;
  min-height: 11rem;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
    transform: translate(0, -2px);
  }

  .post-thumbnail {
    background-position: 50% 50%;
    background-size: cover;
    border-bottom: 0;
    max-width: 100%;
    min-height: 11rem;
    width: 30%;
  }

  .post-content {
    padding: 1rem;
    width: 70%;

    .post-date,
    .post-words {
      font-size: 0.75rem;
    }

    .post-title {
      font-size: 1.875rem;
      font-weight: 400;
      line-height: 2.25rem;
      margin: 0 0 10px;

      a {
        border: 0;
        color: var(--dark-blue);
        font-family: 'PT Serif', serif;
      }
    }

    p {
      margin-top: 0;
    }
  }
}

a.older-posts,
a.newer-posts {
  color: var(--body-color);
  display: inline-block;
  font-size: 18px;
  transition: transform 0.2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}
