/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .post {
    flex-direction: column;
    margin: 0 0.9% 1.5%;
    max-width: 100%;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;

      .post-title {
        margin: 0 0 5px;

        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    .nav-toggle {
      display: flex;

      .when-menu-open {
        display: none;
      }
    }

    .logo,
    .social,
    .nav-toggle,
    nav {
      flex: auto;
    }

    nav {
      display: none;
      flex: 0;
    }
  }

  body.menu-open {
    header {
      .nav-toggle {
        .when-menu-closed {
          display: none;
        }

        .when-menu-open {
          display: block;
        }
      }
    }
  }

  .content-box {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content-box {
    padding: 10px;
  }

  .post {
    flex-direction: column;
    margin: 2%;
    max-width: 100%;
    width: 98%;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;

      .post-title {
        margin: 0 0 5px;

        a {
          font-size: 21px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}
