.highlight {
  background-color: #faf9f9;
  border-radius: 3px;
  margin: 0;

  .hll {
    background-color: #ffffcc;
  }

  /* Comment */
  .c {
    color: #999999;
  }

  /* Error */
  .err {
    background-color: #ffaaaa;
    color: #aa0000;
  }

  /* Keyword */
  .k {
    color: #006699;
  }

  /* Operator */
  .o {
    color: #555555;
  }

  /* Comment.Multiline */
  .cm {
    color: #0099ff;
    font-style: italic;
  }

  /* Comment.Preproc */
  .cp {
    color: #009999;
  }

  /* Comment.Single */
  .c1 {
    color: #999999;
  }

  /* Comment.Special */
  .cs {
    color: #999999;
  }

  /* Generic.Deleted */
  .gd {
    background-color: #ffcccc;
    border: 1px solid #cc0000;
  }

  /* Generic.Emph */
  .ge {
    font-style: italic;
  }

  /* Generic.Error */
  .gr {
    color: #ff0000;
  }

  /* Generic.Heading */
  .gh {
    color: #003300;
  }

  /* Generic.Inserted */
  .gi {
    background-color: #ccffcc;
    border: 1px solid #00cc00;
  }

  /* Generic.Output */
  .go {
    color: #aaaaaa;
  }

  /* Generic.Prompt */
  .gp {
    color: #000099;
  }

  /* Generic.Subheading */
  .gu {
    color: #003300;
  }

  /* Generic.Traceback */
  .gt {
    color: #99cc66;
  }

  /* Keyword.Constant */
  .kc {
    color: #006699;
  }

  /* Keyword.Declaration */
  .kd {
    color: #006699;
  }

  /* Keyword.Namespace */
  .kn {
    color: #006699;
  }

  /* Keyword.Pseudo */
  .kp {
    color: #006699;
  }

  /* Keyword.Reserved */
  .kr {
    color: #006699;
  }

  /* Keyword.Type */
  .kt {
    color: #007788;
  }

  /* Literal.Number */
  .m {
    color: #ff6600;
  }

  /* Literal.String */
  .s {
    color: #d44950;
  }

  /* Name.Attribute */
  .na {
    color: #4f9fcf;
  }

  /* Name.Builtin */
  .nb {
    color: #336666;
  }

  /* Name.Class */
  .nc {
    color: #00aa88;
  }

  /* Name.Constant */
  .no {
    color: #336600;
  }

  /* Name.Decorator */
  .nd {
    color: #9999ff;
  }

  /* Name.Entity */
  .ni {
    color: #999999;
  }

  /* Name.Exception */
  .ne {
    color: #cc0000;
  }

  /* Name.Function */
  .nf {
    color: #cc00ff;
  }

  /* Name.Label */
  .nl {
    color: #9999ff;
  }

  /* Name.Namespace */
  .nn {
    color: #00ccff;
  }

  /* Name.Tag */
  .nt {
    color: #2f6f9f;
  }

  /* Name.Variable */
  .nv {
    color: #003333;
  }

  /* Operator.Word */
  .ow {
    color: #000000;
  }

  /* Text.Whitespace */
  .w {
    color: #bbbbbb;
  }

  /* Literal.Number.Float */
  .mf {
    color: #ff6600;
  }

  /* Literal.Number.Hex */
  .mh {
    color: #ff6600;
  }

  /* Literal.Number.Integer */
  .mi {
    color: #ff6600;
  }

  /* Literal.Number.Oct */
  .mo {
    color: #ff6600;
  }

  /* Literal.String.Backtick */
  .sb {
    color: #cc3300;
  }

  /* Literal.String.Char */
  .sc {
    color: #cc3300;
  }

  /* Literal.String.Doc */
  .sd {
    color: #cc3300;
    font-style: italic;
  }

  /* Literal.String.Double */
  .s2 {
    color: #cc3300;
  }

  /* Literal.String.Escape */
  .se {
    color: #cc3300;
  }

  /* Literal.String.Heredoc */
  .sh {
    color: #cc3300;
  }

  /* Literal.String.Interpol */
  .si {
    color: #aa0000;
  }

  /* Literal.String.Other */
  .sx {
    color: #cc3300;
  }

  /* Literal.String.Regex */
  .sr {
    color: #33aaaa;
  }

  /* Literal.String.Single */
  .s1 {
    color: #cc3300;
  }

  /* Literal.String.Symbol */
  .ss {
    color: #ffcc33;
  }

  /* Name.Builtin.Pseudo */
  .bp {
    color: #336666;
  }

  /* Name.Variable.Class */
  .vc {
    color: #003333;
  }

  /* Name.Variable.Global */
  .vg {
    color: #003333;
  }

  /* Name.Variable.Instance */
  .vi {
    color: #003333;
  }

  /* Literal.Number.Integer.Long */
  .il {
    color: #ff6600;
  }
}

.highlighter-rouge {
  background-color: #efefef;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  color: #db3819;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  padding: 0 0.3rem;
}

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999999; }
