@import "normalize";
@import "syntax";
@import "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  background-color: var(--main-background-color);
  color: var(--body-color);
  font-family: "Lato", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1 {
  font-weight: 400;
}

a {
  color: var(--dark-blue);
  text-decoration-color: var(--link-text-decoration);

  &:hover {
    text-decoration-color: var(--link-text-decoration-hover);
    transition: text-decoration-color 0.5s;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

img + em {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

blockquote {
  border-left: 5px solid #000000;
  color: #ada8a8;
  font-style: italic;
  margin-left: 1rem;
  padding-left: 1.1rem;
}

pre {
  overflow: auto;
  padding: 1rem 2rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  code {
    border: 0;
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }
}

table {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  td,
  &.blueTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }

  thead {
    background: #a9c4d1;
    background: linear-gradient(to bottom, #bed3dc 0%, #b1cad5 66%, #a9c4d1 100%);
    border-bottom: 1px solid #8c8c8c;

    th {
      border-left: 1px solid #d0e4f5;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;

      *:first-child {
        border-left: none;
      }
    }
  }

  tbody {
    td {
      font-size: 13px;
    }
  }

  tfoot {
    background: #d0e4f5;
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
    border-top: 2px solid #444444;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;

    td {
      font-size: 14px;
    }
  }
}

.wrapper {
  max-width: 1250px;
  position: relative;
}

.post,
.article-page {
  background-color: var(--secondary-background-color);
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: var(--white);
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: var(--white);
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.gist-data table td,
.gist-data table.blueTable th {
  border: 0;
}

.gist-data table tr:hover {
  background-color: #dedede;
}

body,
.post,
.article-page,
.sidebar {
  transition: background-color 0.5s;
}

@import "parts/home-page";
@import "parts/post-page";
@import "parts/tag";
@import "media";
